/* .App {
  text-align: center;
  background-color: rgb(245, 243, 243);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-add-user {
  position: fixed;
  right: 10%;
  bottom: 5%;
  border-radius: 55px !important;
  background-color: #ff6868 !important;
  border-color: #ff6868 !important;
}
.btn-add-user:hover {
  background-color: #e32a2a !important;
  border-color: #e32a2a !important;
}
.close {
  border: 1px;
  background-color: #e9c4c4;
  border-radius: 3px;
}
.modal-dialog {
  max-width: 58% !important;
}

.login-row {
  border: 1px solid rgb(211, 210, 210);
  border-radius:0px 0px 5px 5px;
  width: 49%;
  margin: auto;
  display: block;
  height: 328px;
  padding: 64px;
  box-shadow: 6px 6px 15px rgb(212, 212, 212);
  font-size: 17px;
    color: #646464;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: sans-serif;
}

.login-row button {
  float: right;
}
.login-h1{
    max-width: 49%;
    
    margin: auto;
    background: #61bb61;
    text-align: center;
    padding: 28px;
    color: white;
    letter-spacing: 6px;
    font-size: 50px;
    box-shadow: 9px 4px 18px rgb(212 212 212);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
